* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: leaguespartan-bold;
  src: url(./Fonts/League-spartan/leaguespartan-bold.ttf);
}

@font-face {
  font-family: roboto-bold;
  src: url(./Fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto-regular;
  src: url(./Fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: monserrat-medium;
  src: url(./Fonts/Monserrat/Montserrat-Medium.otf);
}

@font-face {
  font-family: monserrat-bold;
  src: url(./Fonts/Monserrat/Montserrat-Bold.otf);
}

@font-face {
  font-family: monserrat-extrabold;
  src: url(./Fonts/Monserrat/Montserrat-ExtraBold.otf);
}

@font-face {
  font-family: monserrat-semibold;
  src: url(./Fonts/Monserrat/Montserrat-SemiBold.otf);
}

@font-face {
  font-family: monserrat-light;
  src: url(./Fonts/Monserrat/MontserratAlternates-Light.otf);
}

@font-face {
  font-family: opensans-light;
  src: url(./Fonts/open-sans/OpenSans-Light.ttf);
}

@font-face {
  font-family: opensans-bold;
  src: url(./Fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: opensans-semibold;
  src: url(./Fonts/open-sans/OpenSans-Semibold.ttf);
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 5;
}

.landing-page {
  width: 100%;
  height: 614px;
  background-image: url(./TWebAssetExport/landing-image_0000_Layer-5.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-area {
  width: 100%;
  height: 21px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0px;
  background-color: white;
  overflow: hidden;
}

.logo {
  margin: auto;
}

.green-line-area {
  width: 100%;
  height: 13px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0px;
  background-color: #a7d718;
  overflow: hidden;
}

.big-white-func-area {
  width: 100%;
  height: 42px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0px;
  background-color: white;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 5px rgba(16, 33, 92, 0.1);
          box-shadow: 0px 3px 5px rgba(16, 33, 92, 0.1);
}

.hamburger {
  margin: auto;
  margin-left: 20px;
}

.hamburger:hover {
  cursor: pointer;
}

.desktop-logo {
  margin: auto;
  margin-left: 50px;
  margin-right: 150px;
  display: none;
}

.home-text {
  font-family: monserrat-bold;
  margin: auto;
  padding: 12px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  display: none;
}

.home-text:hover {
  cursor: pointer;
  background-color: #a7d718;
  color: #fff;
}

.nav-text {
  margin: auto;
}

.profile {
  margin: auto 0px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 8px;
}

.profile:hover {
  cursor: pointer;
}

.more {
  margin: auto 0px;
  margin-right: 20px;
  padding: 5px 10px;
}

.more:hover {
  cursor: pointer;
}

.landing-desktop {
  width: 100%;
  height: 614px;
  display: none;
}

.begin-journey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 200px;
  color: #fff;
}

.begin-your {
  font-family: leaguespartan-bold;
  font-size: 50px;
  text-shadow: 0px 8px 10px rgba(16, 32, 92, 0.2);
}

.experience {
  font-family: opensans-light;
  text-align: center;
  font-size: 25px;
  text-shadow: 0px 3px 5px rgba(16, 32, 92, 0.753);
}

.sign-up-button {
  width: 150px;
  height: 50px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 5px;
  background-color: #a7d718;
  overflow: hidden;
  font-family: monserrat-bold;
  margin-top: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sign-up-button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 10px rgba(14, 24, 33, 0.1);
          box-shadow: 0px 5px 10px rgba(14, 24, 33, 0.1);
}

.sub {
  margin: auto;
}

.journey {
  color: #8fdbff;
}

.social-media {
  position: fixed;
  z-index: 1;
  margin: 250px 0px;
  background-color: rgba(0, 195, 255, 0.335);
  width: 65px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-box-shadow: 3px 3px 8px rgba(35, 144, 233, 0.1);
          box-shadow: 3px 3px 8px rgba(35, 144, 233, 0.1);
  overflow: hidden;
}

.sm-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-left: 15px;
}

.sicons {
  margin: 5px auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sicons:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slide-in, .slide-in2 {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 530px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px;
  background-color: #efefef;
  overflow: hidden;
  margin-left: 70%;
  margin-top: 70px;
  border-bottom-left-radius: 60px;
  -webkit-box-shadow: 0px 8px 8px rgba(14, 16, 26, 0.2);
          box-shadow: 0px 8px 8px rgba(14, 16, 26, 0.2);
  display: none;
}

.slide-in2 {
  height: 430px;
  z-index: 3;
}

.slide-in3 {
  z-index: 4;
  position: fixed;
  width: 400px;
  height: 500px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px;
  background-color: #efefef;
  overflow: hidden;
  margin-top: 70px;
  border-bottom-right-radius: 60px;
  -webkit-box-shadow: 0px 8px 8px rgba(14, 16, 26, 0.2);
          box-shadow: 0px 8px 8px rgba(14, 16, 26, 0.2);
  display: none;
}

#s1-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide-outr 0.2s ease;
          animation: slide-outr 0.2s ease;
}

@-webkit-keyframes slide-outr {
  0% {
    margin-left: 70%;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes slide-outr {
  0% {
    margin-left: 70%;
  }
  100% {
    margin-left: 100%;
  }
}

#s1-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide-inr 0.3s ease;
          animation: slide-inr 0.3s ease;
}

@-webkit-keyframes slide-inr {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 70%;
  }
}

@keyframes slide-inr {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 70%;
  }
}

#s3-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide-in 0.2s ease;
          animation: slide-in 0.2s ease;
}

@-webkit-keyframes slide-in {
  0% {
    margin-left: -400px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slide-in {
  0% {
    margin-left: -400px;
  }
  100% {
    margin-left: 0px;
  }
}

#s3-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide-out 0.2s ease;
          animation: slide-out 0.2s ease;
}

@-webkit-keyframes slide-out {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -400px;
  }
}

@keyframes slide-out {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -400px;
  }
}

#s3-death {
  display: none;
}

.dark-mode {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px;
  background-color: #0e1821;
  overflow: hidden;
  position: fixed;
  opacity: 0.5;
  z-index: 1;
  margin-left: 0px;
}

#dark-fade-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fade-in 0.1s ease;
          animation: fade-in 0.1s ease;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

#dark-fade-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fade-out 0.1s ease;
          animation: fade-out 0.1s ease;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

#reveal-again {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fade-in2 0.2s ease;
          animation: fade-in2 0.2s ease;
}

@-webkit-keyframes fade-in2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#some-margin {
  margin-top: 200px;
  -webkit-animation: show 0.4s ease;
          animation: show 0.4s ease;
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes show {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.profile-text-div, .settings-text-div, .follow-div {
  width: inherit;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: monserrat-bold;
  color: #0e1821;
  font-size: 14px;
}

.protext {
  margin: auto;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.profile-contents, .profile-contents2, .profile-contents3, .settings-contents, .follow-content {
  width: inherit;
  height: 330px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 3px 5px rgba(14, 24, 33, 0.1);
          box-shadow: 0px 3px 5px rgba(14, 24, 33, 0.1);
  padding-top: 6px;
}

.profile-contents2 {
  height: 260px;
}

.profile-contents3 {
  height: 164px;
}

.settings-contents {
  height: 150px;
}

.follow-content {
  height: 100px;
}

.pc1 {
  width: 440px;
  font-family: roboto-regular;
  color: #0e1821;
  font-size: 14px;
  overflow: hidden;
  -webkit-transition: 0.05s;
  transition: 0.05s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pc-icon {
  margin: auto;
}

.pc-text, .pc-textr, .pc-textm {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  overflow: hidden;
  border-bottom: 2px solid #efefef;
}

.pc-text:hover, .pc-textr:hover, .pc-textm:hover {
  cursor: pointer;
  background-color: #efefef;
}

.pc-textr, .pc-textm {
  border-bottom: none;
}

.pct {
  margin-top: 7px;
}

.sign-title {
  color: #fff;
  font-family: monserrat-bold;
  margin: auto;
  font-size: 25px;
  margin-top: 15px;
}

.xbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  width: 360px;
  margin: auto;
  margin-top: 90px;
  display: none;
}

.main-x {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-left: 6px;
}

.main-x:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#x-slow-fade-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slow-appear 0.2s ease;
          animation: slow-appear 0.2s ease;
}

@-webkit-keyframes slow-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slow-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  height: 420px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 30px;
  margin-left: 0px;
  border-radius: 5px;
  border: 2px solid #a7d718;
  -webkit-box-shadow: 0px 8px 10px rgba(16, 32, 92, 0.2);
          box-shadow: 0px 8px 10px rgba(16, 32, 92, 0.2);
  overflow: hidden;
}

.signup-text {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup-box-ult, .pass, .signup-boxa, .signup-boxb {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
}

.signup-box, .signup-boxg, .signup-boxq {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 230px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: none;
  color: #0e1821;
  outline: none;
}

.pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#border {
  -webkit-box-shadow: 0px 0px 5px #a7d718;
          box-shadow: 0px 0px 5px #a7d718;
}

#no-border {
  border: none;
}

.signup-boxp {
  padding-left: 10px;
  padding-right: 10px;
  font-family: monserrat-medium;
  font-size: 18px;
  width: 165px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.eye-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  height: 40px;
  border-left: 2px solid #ccc;
  width: 65px;
}

.eye-cont:hover {
  cursor: pointer;
}

#active {
  border-left: 2px solid #d1eb85;
}

#not-active {
  border-left: 2px solid #ccc;
}

.eye {
  margin: auto;
}

.eye-active {
  margin: auto;
  display: none;
}

.signup-boxg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: monserrat-medium;
  color: #0e1821;
  font-size: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.signup-boxg:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 0px 3px 10px rgba(14, 24, 33, 0.2);
          box-shadow: 0px 3px 10px rgba(14, 24, 33, 0.2);
}

.g,
.google {
  margin: auto;
}

.g {
  margin-right: 0px;
}

.signup-boxq {
  font-family: monserrat-medium;
  font-size: 18px;
  background-color: #eeffb9;
}

.signup-boxa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  background-color: transparent;
}

.signup-boxb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  height: 20px;
  margin-bottom: 25px;
  background-color: transparent;
  border: none;
}

.newsletter {
  width: 250px;
  height: 50px;
  margin: auto;
  background-color: #fff;
  display: none;
}

.submit {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 250px;
  height: 50px;
  background-color: #a7d718;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: monserrat-bold;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: none;
}

.submit:hover {
  cursor: pointer;
  background-color: #fff;
  color: #a7d718;
}

#white {
  background-color: #fff;
  outline: none;
  -webkit-box-shadow: 0px 0px 5px #a7d718;
          box-shadow: 0px 0px 5px #a7d718;
}

#white:hover {
  background-color: #fff;
}

#normal {
  background-color: #a7d718;
}

#normal:hover {
  cursor: pointer;
  background-color: #fff;
  color: #a7d718;
}

.load {
  margin: auto;
  display: none;
}

#show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: rotate 2s linear 0s infinite;
          animation: rotate 2s linear 0s infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.psubmit {
  margin: auto;
  font-size: 18px;
}

#show2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.acc, .sign2 {
  color: #fff;
  font-family: monserrat-medium;
  font-size: 15px;
  margin: auto;
}

.sign {
  color: #fff;
  text-decoration: underline;
}

.sign2 {
  text-decoration: underline;
}

#begin-fade {
  -webkit-animation: death 0.2s ease;
          animation: death 0.2s ease;
}

@-webkit-keyframes death {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes death {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: life 0.5s ease;
          animation: life 0.5s ease;
}

@-webkit-keyframes life {
  0% {
    opacity: 0;
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes life {
  0% {
    opacity: 0;
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

#no-margin {
  margin-top: 0px;
}

.booking-form {
  width: 383px;
  height: 442px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background-color: #fffde8;
  overflow: hidden;
  margin-top: 100px;
  border: 2px solid #1fbef8;
  -webkit-box-shadow: 5px 10px 15px rgba(16, 32, 92, 0.2);
          box-shadow: 5px 10px 15px rgba(16, 32, 92, 0.2);
}

.where-to {
  font-family: leaguespartan-bold;
  font-size: 14px;
  color: #564f3e;
  margin: 13px auto 0px;
}

.search-bar, .for-work, .search-button {
  width: 322px;
  height: 52px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  border: 2px #d4d4d4 solid;
}

.check-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
}

.check-in, .adults,
.children,
.rooms {
  width: 153px;
  height: 52px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  border: 2px #d4d4d4 solid;
}

.check-out {
  width: 153px;
  height: 52px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  border: 2px #d4d4d4 solid;
  margin-left: 10px;
}

.family-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 0px auto;
}

.adults,
.children,
.rooms {
  width: 96.5px;
  margin-top: 10px;
}

.adults-with-icon, .children-with-icon, .room-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adults-count, .children-count, .room-count {
  font-family: monserrat-bold;
  color: #564f3e;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 12px;
}

.adults-text, .children-text, .crooms-text {
  margin-top: 3px;
  margin-left: 8px;
  font-family: monserrat-bold;
  color: #564f3e;
  font-size: 11px;
}

.children {
  margin-left: 10px;
}

.rooms {
  margin-left: 10px;
}

.theicon {
  margin-left: 10px;
  margin-top: 2px;
}

.for-work {
  margin-top: 30px;
}

.tick-box {
  margin: auto;
  width: 15px;
  height: 15px;
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  margin-right: 0px;
  margin-left: 20px;
}

.tick-box:hover {
  cursor: pointer;
}

.for-work-text {
  margin: auto;
  margin-right: 150px;
  font-size: 13px;
  font-family: monserrat-medium;
  color: #52705c;
}

.search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px #a7d718 solid;
  background-color: #a7d718;
  margin-top: 20px;
  color: #fff;
  font-family: opensans-semibold;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search-button:hover {
  cursor: pointer;
  color: #a7d718;
  background-color: #ffffff;
}

.stexto {
  margin: auto;
  margin-bottom: 11px;
}

.search-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.around {
  font-family: monserrat-bold;
  color: #52705c;
  font-size: 16px;
  margin: auto;
  margin-left: 20px;
  margin-bottom: 8px;
}

.x {
  padding: 5px;
  margin: auto;
  margin-left: 20px;
}

.x:hover {
  cursor: pointer;
}

.cim,
.com {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cid,
.cod {
  font-family: monserrat-semibold;
  color: #564f3e;
  font-size: 13px;
  margin-left: 10px;
}

.cidc,
.codc {
  margin-left: 5px;
}

.cind,
.cond {
  margin-top: 5px;
  margin-left: 10px;
}

.cidand {
  color: #52705c;
  font-family: monserrat-semibold;
  font-size: 12px;
}

.second-booking-form {
  overflow: hidden;
  width: 100%;
  height: 650px;
  background-image: url(./TWebAssetExport/Footer-image_0000_Layer-12.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

.booking-form2 {
  width: 383px;
  height: 442px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  background-color: #fffde8;
  overflow: hidden;
  margin-top: 100px;
  border: 2px solid #1fbef8;
  -webkit-box-shadow: 5px 10px 15px rgba(16, 32, 92, 0.2);
          box-shadow: 5px 10px 15px rgba(16, 32, 92, 0.2);
}

.dark-blue {
  width: 100%;
  height: 615px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px;
  background-color: #0e1821;
  overflow: hidden;
}

.ult-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.amazing, .cwot, .excellent {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.p-amazing, .p-cwot, .p-excellent {
  width: 300px;
  margin: auto;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.6);
  font-family: opensans-light;
  font-size: 14px;
  text-align: center;
}

.excellent-service, .amazing-destinations, .connect-with-other-travellers {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: white;
  font-family: opensans-bold;
  text-align: center;
  margin-bottom: 10px;
}

.connect-wot {
  width: 100%;
  height: 500px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px;
  background-color: white;
  overflow: hidden;
}

.connect-wot-text {
  font-family: monserrat-extrabold;
  color: #0e1821;
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.ct {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 8%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #a7d718;
  border-radius: 520px;
  width: 100px;
  height: 30px;
  color: #a7d718;
  font-family: monserrat-semibold;
  display: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.second-all:hover {
  background-color: #a7d718;
  color: #fff;
}

.ssa {
  display: none;
}

.travellers {
  color: #a7d718;
}

.ult-scroll {
  margin-top: 5px;
  width: 100%;
  height: 350px;
  overflow: auto;
  margin-left: 8%;
}

.wot-scroll-area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px 180px 180px 180px 180px;
      grid-template-columns: 180px 180px 180px 180px 180px;
  gap: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.wot1 {
  height: 300px;
  width: 180px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 5px rgba(31, 61, 170, 0.15);
          box-shadow: 0px 5px 5px rgba(31, 61, 170, 0.15);
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.wot1:hover {
  cursor: pointer;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.scroll-image, .scroll-image1, .scroll-image2, .scroll-image3 {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.scroll-image1 {
  background-image: url(./TWebAssetExport/1scroll-image_0000_Layer-16.jpg);
}

.scroll-image2 {
  background-image: url(./TWebAssetExport/2scroll-image_0000_Layer-17.jpg);
}

.scroll-image3 {
  background-image: url(./TWebAssetExport/3scroll-image_0000_Layer-18.jpg);
}

.wot2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  width: 180px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
}

.wot-invisible, .fav-invisible {
  width: 40px;
  background-color: rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.seeall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #a7d718;
  border-radius: 520px;
  width: 100px;
  height: 50px;
  margin: auto;
  color: #a7d718;
  font-family: monserrat-semibold;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.seeall:hover {
  cursor: pointer;
  background-color: #a7d718;
  color: #fff;
}

.see-all, .ssa {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.sitext {
  margin-top: 5px;
  margin-left: 15px;
  line-height: 20px;
}

.travel-talk {
  font-family: monserrat-bold;
  font-size: 13px;
}

.travel-community {
  font-family: opensans-semibold;
  font-size: 11px;
  color: #a7d718;
}

.traveller-count {
  font-family: monserrat-bold;
  font-size: 12px;
}

.discover-homes-section {
  width: 100%;
  height: 219px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px;
  background-color: #424242;
  overflow: hidden;
  background-image: url(./TWebAssetExport/Discover-homes-image_0000_Layer-6.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.endless {
  margin: auto;
  margin-top: 70px;
  color: #fff;
  font-family: monserrat-bold;
  font-size: 25px;
  text-align: center;
}

.green-home {
  color: #a7d718;
}

.discover-homes-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 71px;
}

.discover-homes-button {
  width: 171px;
  height: 40px;
  margin-top: 10px;
  background-color: #a7d718;
  font-family: monserrat-bold;
  font-size: 10pt;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}

.discover-homes-button:hover {
  background-color: #ffffff;
  color: #a7d718;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.discover-homes {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
}

.off-peak-deals {
  width: 100%;
  height: 131px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0px;
  background-color: #fffde8;
  overflow: hidden;
  margin-top: 100px;
}

.adimage {
  background-image: url(./TWebAssetExport/Off-deals-ad-picture_0000_Layer-7.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: auto;
  margin-left: 10px;
  width: 35%;
  height: 108px;
  margin-right: 0px;
}

.dealsdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  color: #0e1821;
  font-family: monserrat-bold;
  overflow: hidden;
}

.green-deals {
  color: #a7d718;
}

.off-peak-support {
  margin-top: 4px;
  font-family: monserrat-semibold;
  font-size: 11px;
  width: 170px;
}

.discount20 {
  width: inherit;
  font-family: monserrat-semibold;
  margin-top: 10px;
  font-size: 14px;
}

.twenty {
  font-family: monserrat-bold;
}

.disc20 {
  color: #a7d718;
  font-family: monserrat-bold;
}

.september {
  font-family: monserrat-bold;
}

.october2019 {
  font-family: monserrat-bold;
}

.linkdiv {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.linkdiv2 {
  display: none;
}

.button {
  width: 162px;
  height: 41px;
  margin-top: 11px;
  border: 2px solid #a7d718;
  font-family: monserrat-semibold;
  font-size: 10pt;
  color: #a7d718;
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}

.button:hover {
  background-color: #a7d718;
  color: #fff;
}

.view-deals {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 13px;
}

.some-favourite-homes-section {
  width: 100%;
  height: 460px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px;
  background-color: white;
  overflow: hidden;
}

.some-favourite-homes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  margin-top: 90px;
  font-family: monserrat-bold;
  font-size: 13px;
  border-top: 2px #e9e9e9 solid;
}

.sfh-text {
  margin-top: 20px;
}

.favourite {
  color: #a7d718;
}

.fav-scroll-area {
  height: 385px;
  margin-left: 20px;
  overflow: auto;
}

.fav-content {
  margin-left: 2px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 171px 171px 171px 171px 171px 171px;
      grid-template-columns: 171px 171px 171px 171px 171px 171px;
  gap: 10px;
}

.fav1,
.favx {
  margin-top: 20px;
  width: 171px;
  height: 264px;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 5px rgba(31, 61, 170, 0.15);
          box-shadow: 0px 8px 5px rgba(31, 61, 170, 0.15);
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fav1:hover,
.favx:hover {
  cursor: pointer;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.fimage, .fimages1, .fimages2, .fimages3, .fimages4, .fimages5 {
  width: 200px;
  height: 170px;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.fimages1 {
  background-image: url(./TWebAssetExport/F-1-IMAGE_0000_Layer-19.png);
}

.fimages2 {
  background-image: url(./TWebAssetExport/Fimage_0003_Layer-20.png);
}

.fimages3 {
  background-image: url(./TWebAssetExport/Fimage_0002_Layer-21.png);
}

.fimages4 {
  background-image: url(./TWebAssetExport/Fimage_0001_Layer-22.png);
}

.fimages5 {
  background-image: url(./TWebAssetExport/Fimage_0000_Layer-23.png);
}

.fimage-text-area {
  color: #0e1821;
  margin-top: 7px;
  margin-left: 10px;
}

.rating-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lexi-lodge {
  font-family: monserrat-bold;
  font-size: 14px;
}

.lake-tekapo {
  font-family: monserrat-light;
  font-size: 10px;
}

.starsprime {
  margin-top: 8px;
}

.reviews {
  color: #0e1821;
  font-family: monserrat-semibold;
  font-size: 11px;
}

.numberrating {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 8px;
  margin-left: 40px;
  width: 45px;
  height: 40px;
  background-color: #1eb3f8;
  color: #fff;
  font-family: monserrat-bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actual-rating {
  margin: auto;
}

.check-marks {
  width: 100%;
  height: 583px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px;
  background-color: white;
  overflow: hidden;
}

.check-mark1 {
  margin: auto;
  margin-top: 75px;
  text-align: center;
}

.cm1-text, .cm2-text {
  width: 300px;
  margin: auto;
  margin-bottom: 5px;
  color: #0e1821;
  font-family: monserrat-bold;
  text-align: center;
}

.cm1-Stext, .cm2-Stext {
  margin: auto;
  color: #0e1821;
  font-family: monserrat-semibold;
  font-size: 13px;
  margin-bottom: 76px;
}

.check-mark2 {
  margin: auto;
}

.download-app {
  width: 100%;
  height: 180px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 0px;
  background-color: #1eb3f8;
  overflow: hidden;
}

.app-white-area {
  width: 332px;
  height: 137px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 30px;
  background-color: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 10px rgba(31, 61, 170, 0.336);
          box-shadow: 0px 5px 10px rgba(31, 61, 170, 0.336);
}

.app-icon {
  width: 84px;
  height: 84px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  margin-right: 0px;
  margin-left: 20px;
  -webkit-box-shadow: 0px 3px 5px rgba(31, 61, 170, 0.15);
          box-shadow: 0px 3px 5px rgba(31, 61, 170, 0.15);
}

.app-logo {
  margin: auto;
}

.app-download-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #0e1821;
  font-family: monserrat-bold;
  margin-left: 10px;
  margin-top: 30px;
}

.get-free-app {
  font-size: 15px;
}

.get-free-app-stext {
  margin-top: 8px;
  font-family: monserrat-semibold;
  font-size: 11px;
}

.starinstall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stars {
  margin: auto;
  margin-left: 0px;
}

.install {
  width: 142px;
  height: 35px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 5px;
  background-color: #a7d718;
  overflow: hidden;
  margin-right: 15px;
  color: #fff;
  font-family: monserrat-semibold;
  font-size: 11px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.install:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.install-text {
  margin: auto;
}

.footer {
  background-image: url(./TWebAssetExport/Footer-image_0000_Layer-12.jpg);
  width: 100%;
  height: 250px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px;
  background-color: #0e1821;
  overflow: hidden;
  margin-top: 102px;
  padding-top: 25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  overflow: hidden;
}

.footer-text-container1, .footer-text-container2, .footer-text-container3, .footer-text-container4, .footer-text-container5 {
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1eb3f8;
  font-family: opensans-semibold;
  font-size: 11px;
  overflow: hidden;
}

.terms, .privacy, .about, .copyright, .reference, .sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 20px;
  border-right: 1px solid white;
}

.terms p, .privacy p, .about p, .copyright p, .reference p, .sitemap p {
  margin: auto;
  text-align: center;
}

.about {
  border: none;
}

.footerlogo {
  color: white;
}

.copyright {
  border: none;
}

.reference {
  border: none;
}

.sitemap {
  border: none;
}

.footer-text-container5 {
  color: #fff;
}

@media screen and (min-width: 0px) {
  .booking-form {
    -webkit-transform: scale(0.92);
            transform: scale(0.92);
  }
  .search-button, .search-bar, .for-work, .search-button,
  .check-area,
  .family-members,
  .for-work {
    -webkit-transform: scale(0.92);
            transform: scale(0.92);
  }
  .endless {
    font-size: 20px;
  }
  @-webkit-keyframes slide-outr {
    0% {
      margin-left: 25%;
    }
    100% {
      margin-left: 100%;
    }
  }
  @keyframes slide-outr {
    0% {
      margin-left: 25%;
    }
    100% {
      margin-left: 100%;
    }
  }
  @-webkit-keyframes slide-inr {
    0% {
      margin-left: 100%;
    }
    100% {
      margin-left: 25%;
    }
  }
  @keyframes slide-inr {
    0% {
      margin-left: 100%;
    }
    100% {
      margin-left: 25%;
    }
  }
  .slide-in, .slide-in2 {
    margin-left: 25%;
    border-radius: 0px;
  }
  .slide-in2 {
    margin-left: 25%;
    border-radius: 0px;
  }
  .slide-in3 {
    border-radius: 0px;
    width: 250px;
  }
}

@media screen and (min-width: 400px) {
  .booking-form, .search-bar, .for-work, .search-button,
  .check-area,
  .family-members,
  .for-work {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .endless {
    font-size: 25px;
  }
}

@media screen and (min-width: 500px) {
  @-webkit-keyframes slide-outr {
    0% {
      margin-left: 30%;
    }
    100% {
      margin-left: 100%;
    }
  }
  @keyframes slide-outr {
    0% {
      margin-left: 30%;
    }
    100% {
      margin-left: 100%;
    }
  }
  @-webkit-keyframes slide-inr {
    0% {
      margin-left: 100%;
    }
    100% {
      margin-left: 30%;
    }
  }
  @keyframes slide-inr {
    0% {
      margin-left: 100%;
    }
    100% {
      margin-left: 30%;
    }
  }
  .slide-in, .slide-in2 {
    margin-left: 30%;
    border-bottom-left-radius: 60px;
  }
  .slide-in2 {
    margin-left: 30%;
    border-bottom-left-radius: 60px;
  }
  .slide-in3 {
    border-bottom-right-radius: 60px;
    width: 400px;
  }
}

@media screen and (min-width: 600px) {
  @-webkit-keyframes slide-outr {
    0% {
      margin-left: 50%;
    }
    100% {
      margin-left: 100%;
    }
  }
  @keyframes slide-outr {
    0% {
      margin-left: 50%;
    }
    100% {
      margin-left: 100%;
    }
  }
  @-webkit-keyframes slide-inr {
    0% {
      margin-left: 100%;
    }
    100% {
      margin-left: 50%;
    }
  }
  @keyframes slide-inr {
    0% {
      margin-left: 100%;
    }
    100% {
      margin-left: 50%;
    }
  }
  .slide-in, .slide-in2 {
    margin-left: 50%;
  }
  .slide-in2 {
    margin-left: 50%;
  }
}

@media screen and (min-width: 660px) {
  .connect-wot {
    height: 520px;
  }
  .ult-scroll {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
  }
  .wot-scroll-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wot1 {
    margin: 5px;
  }
  .wot2 {
    display: none;
  }
  .wot-invisible, .fav-invisible {
    display: none;
  }
  .connect-wot-text {
    margin-top: 5px;
  }
  .second-all,
  .ssa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .second-all:hover,
  .ssa:hover {
    cursor: pointer;
  }
  .ct {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 700px) {
  @-webkit-keyframes slide-outr {
    0% {
      margin-left: 60%;
    }
    100% {
      margin-left: 100%;
    }
  }
  @keyframes slide-outr {
    0% {
      margin-left: 60%;
    }
    100% {
      margin-left: 100%;
    }
  }
  @-webkit-keyframes slide-inr {
    0% {
      margin-left: 100%;
    }
    100% {
      margin-left: 60%;
    }
  }
  @keyframes slide-inr {
    0% {
      margin-left: 100%;
    }
    100% {
      margin-left: 60%;
    }
  }
  .slide-in, .slide-in2 {
    margin-left: 60%;
  }
  .slide-in2 {
    margin-left: 60%;
  }
}

@media screen and (min-width: 768px) {
  .connect-wot {
    height: 550px;
  }
  .ult-scroll {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 40px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .wot-scroll-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .wot1 {
    margin: 5px;
  }
  .wot2 {
    display: none;
  }
  .wot-invisible, .fav-invisible {
    display: none;
  }
  .connect-wot-text {
    margin-top: 5px;
  }
  .second-all,
  .ssa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .second-all:hover,
  .ssa:hover {
    cursor: pointer;
  }
  .ct {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: scale(1.22);
            transform: scale(1.22);
  }
  .discover-homes-section {
    height: 300px;
    background-position: bottom;
    background-size: cover;
  }
  .endless {
    margin: auto;
    margin-top: 90px;
    color: #fff;
    font-family: monserrat-bold;
    font-size: 45px;
    text-align: center;
  }
  .discover-homes-button {
    width: 350px;
    height: 70px;
    margin-bottom: 60px;
    background-color: #a7d718;
    font-family: monserrat-bold;
    font-size: 14pt;
    color: #fff;
    border-radius: 3px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    overflow: hidden;
  }
  .discover-homes-button:hover {
    background-color: #ffffff;
    color: #a7d718;
  }
  .discover-homes {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
  }
  .ult-off {
    width: 100%;
    margin-top: 100px;
    height: 500px;
    overflow: hidden;
  }
  .off-peak-deals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 150px auto;
    overflow: visible;
    height: 200px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .faded1 {
    opacity: 0.5;
    background-color: #fffde8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    height: 200px;
    background-image: url(./TWebAssetExport/Off-deals-ad-picture_0000_Layer-7.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-left: 0px;
    display: none;
  }
  .adimage {
    margin: unset;
    background-size: contain;
    height: 350px;
    width: 363px;
    margin-top: -130px;
    margin-right: 0px;
  }
  .dealsdiv {
    margin: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: auto;
  }
  .faded2 {
    opacity: 0.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    height: 200px;
    background-color: #fffde8;
    background-image: url(./TWebAssetExport/F-1-IMAGE_0000_Layer-19.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    margin-right: 0px;
    display: none;
  }
  .off {
    font-size: 20px;
  }
  .off-peak-support {
    font-size: 14px;
    width: 230px;
  }
  .discount20 {
    font-size: 18px;
    width: 300px;
  }
  .linkdiv {
    display: none;
  }
  .linkdiv2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 940px) {
  .faded1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .discount20 {
    width: 300px;
  }
  .fav-scroll-area {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 20px auto 0px;
    overflow: visible;
  }
  .some-favourite-homes {
    width: 905px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 80px auto 0px;
  }
  .sfh-text {
    margin-top: 15px;
  }
  .fav1,
  .favx {
    margin: 0px;
    margin-left: 10px;
  }
  .favx {
    margin-left: 0px;
  }
  .fav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .check-marks {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 100px auto 0px;
  }
  .download-app {
    margin-top: 200px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    width: 66.5%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    margin-top: 300px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    width: 66.5%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .more {
    margin-right: 30px;
  }
  .discount20 {
    width: 350px;
  }
  .fav-scroll-area {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 20px auto 0px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    overflow: visible;
  }
  .some-favourite-homes {
    width: 905px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
    margin: 80px auto 10px;
  }
}

@media screen and (min-width: 1200px) {
  @-webkit-keyframes slide-outr {
    0% {
      margin-left: 70%;
    }
    100% {
      margin-left: 100%;
    }
  }
  @keyframes slide-outr {
    0% {
      margin-left: 70%;
    }
    100% {
      margin-left: 100%;
    }
  }
  @-webkit-keyframes slide-inr {
    0% {
      margin-left: 100%;
    }
    100% {
      margin-left: 70%;
    }
  }
  @keyframes slide-inr {
    0% {
      margin-left: 100%;
    }
    100% {
      margin-left: 70%;
    }
  }
  .slide-in, .slide-in2 {
    margin-top: 55px;
    margin-left: 70%;
  }
  .slide-in2 {
    margin-top: 55px;
    margin-left: 70%;
  }
  .slide-in3 {
    margin-top: 55px;
    display: none;
  }
  .logo-area {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .home-text,
  .desktop-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .landing-page {
    background-color: #5f5f5f;
    background-image: url(./TWebAssetExport/landing-image_0000_Layer-5.jpg);
    background-blend-mode: soft-light;
    background-position: 0px -200px;
  }
  .landing-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dark-blue {
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .booking-form {
    display: none;
  }
  .second-booking-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ult-a,
  .a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
  }
  .ult-a {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  .amazing-destinations,
  .connect-with-other-travellers, .excellent-service, .amazing-destinations, .connect-with-other-travellers, .p-amazing, .p-cwot, .p-excellent,
  .p-cwot,
  .p-excellent {
    text-align: left;
    margin: auto;
    font-size: 13px;
    width: 250px;
  }
  .ult-off {
    background-image: url(./TWebAssetExport/LEAVES_0000_Layer-22.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .off-peak-deals {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .adimage {
    margin-top: -130px;
  }
  .discount20 {
    width: 300px;
  }
  .faded2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .pa {
    margin-left: 20px;
  }
  .amazing, .cwot, .excellent {
    margin: auto;
    width: 50px;
    height: 50px;
  }
  .cwot {
    margin: auto;
    width: 50px;
    height: 50px;
  }
  .excellent {
    margin: auto;
    width: 40px;
    height: 40px;
  }
  .p-excellent {
    margin-bottom: 20px;
  }
  .amazing-destinations,
  .connect-with-other-travellers, .excellent-service, .amazing-destinations, .connect-with-other-travellers {
    margin-bottom: 5px;
  }
  .some-favourite-homes-section {
    overflow: visible;
  }
  .some-favourite-homes {
    -webkit-transform: scale(1.19);
            transform: scale(1.19);
    width: 905px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 80px auto 20px;
  }
  .fav-scroll-area {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 30px auto 0px;
    overflow: visible;
  }
  .fav1,
  .favx {
    margin: 0px;
    margin-left: 10px;
  }
  .favx {
    margin-left: 0px;
  }
  .fav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .check-marks {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 150px auto 0px;
  }
  .download-app {
    margin-top: 200px;
  }
}

@media screen and (min-width: 1350px) {
  .discount20 {
    font-size: 18px;
    width: 350px;
  }
}
/*# sourceMappingURL=styles.css.map */